*{
    margin: 0;
    padding: 0;
}
ul {
    margin-bottom: 0;
}
/* ================== Brand CSS ================== */
.brand {
    margin: 15px 0;
    background: #ffffff;
}

.brand .brand-logo {
    text-align: left;
    overflow: hidden;
}

.brand .brand-logo a img {
    width: 100%;
    max-height: 90px;
}

.brand .brand-ads {
    overflow: hidden;
}

.brand .brand-ads a img {
    max-width: 100%;
    max-height: 100%;
}
.brand .brand-search {
    width: 100%;
}

.brand .brand-search input[type=text] {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #00BFFF;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.brand .brand-search input[type=text]:focus {
    border-color: #00BFFF;
    outline: none;
}

.brand .brand-search button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 15px;
    border: none;
    background: none;
    color: #00BFFF;
    border-radius: 0 4px 4px 0;
}

.brand .brand-search button:hover {
    background: #00BFFF;
    color: #ffffff;
}
/* ================== Nav Bar CSS ================== */
.nav-bar{
    height: 60px;
    background-color: #00BFFF; 
}
.nav-bar ul{
    list-style-type: none;
}
.menu {
    margin-top: 16px;
}

.menu a {
    font-size: 18px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0 30px 0 0;
}

.menu a::after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: #fff;
    transition: width .3s ease, background-color .3s ease;
}

.menu a:hover::after {
    width: 100%;
}
.menu a:hover {
    color: #fff;
}
.social {
    line-height: 60px;
    margin-right: 20px;
}
.social a {
    opacity: 0.5;
}
.nav-bar .social a:hover {
    transition: .3s;
    opacity: 1;
}
.social a i {
    margin: 2px;
    color: #fff;
    font-size: 18px;
}
.nav-bar .social a:hover i {
    transition: .3s;
}
/* ================== Top News ================== */
.top-news {
    height: 520px;
    background-color: #181818;  
}
.news {
    padding: 46px 0px;
}
.tn-right {
    display: block;
    padding: 0;
    height: 430px;
    position: relative;
    overflow: hidden;
}
.tn-right img {
    width: 100%;
    height: 100%;
    transition: transform .3s ease;
}
.tn-right:hover img{
  transform: scale(1.1);
}
.tn-right .text {
    position: absolute;
    height: 150px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .7), rgba(0, 0, 0, .9));
}
.tn-right .text h2 {
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 0px 0px 20px 20px;
    margin-bottom: -8px;
}
.tn-right:hover .text h2{
  color: #00BFFF;
}
.tn-right .text span {
    margin-right: 5px;
}
.tn-left {
}
.tn-left div {
    position: relative;
    width: 100%;
    height: 207px;
    padding: 0;
    display: block;
    overflow: hidden;
}
.tn-left div:first-child {
    margin-bottom: 15px;
}
.tn-left img {
    height: 100%;
    width: 100%;
    transition: transform .3s ease;
}
.tn-left div:hover img {
  transform: scale(1.1);
}
.tn-left .tn-left-title {
    position: absolute;
    text-decoration: none;
    bottom: 0;
    left: 0;
    padding-left: 10px; 
    background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .7), rgba(0, 0, 0, .9));
}
.tn-left .tn-left-title h4 {
    color: #fff;
}
.tn-left div:hover .tn-left-title h4 {
    color: #00BFFF;
}
/*Mail News*/
.main-news {
    margin-top: 40px;
}
.title {
    width: 100%;
    /*height: 32px;*/
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 0;
}
.title span {
    font-size: 20px;
    color: #00BFFF;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 3px solid #00BFFF;

}
.post-main {
    margin-bottom: 20px;
    padding: 0 15px;
    /*height: 180px;*/
}
.post-main img {
    
}
.post-main a {
    text-decoration: none;
    color: #000;
}
.post-main a h4:hover {
    color: #00BFFF;
}
.post-main a h6:hover {
    color: #00BFFF;
}
.post-main .read-more:hover {
    /*color: #00BFFF;*/
}
.pm-info {
    margin-left: 5px;
}
.pm-info div {
    margin-right: 25px;
    color: #bbb;
    font-size: 14px;
}
.pm-info div {
    
}
.pm-img {
    width: 300px;
    height: 100%;
    display: block;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.pm-img img {
    width: 100%;
    height: 100%;
    transition: transform .3s ease;
}
.pm-img:hover img{
  transform: scale(1.1);
}

.ads {
    margin-top: 30px;
}
/* ================== Footer ================== */
.footer {
    height: 400px;
    background-color: #101010;
    color: #fff;
}
.footer .copyright {
    margin-top: 10px;
    float: right;
    color: #bbb;
}
.f-title h4 {
    color: #fff;
    margin-bottom: 30px;
}
.f-img img {
    width: 80%;
}
.f-category ul {
    list-style-type: none;
}
.f-category ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #00BFFF;
}
.f-category ul li a:hover {
    color: #fff;
}
.f-row {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
}
.f-category .social a i {
    font-size: 20px;
}